[flake8]
# Ignorar carpetas de entorno virtual, cache y git
exclude =
    .git,
    __pycache__,
    venvfutbol,
    .github,
    .gemini,
    node_modules,
    data

# Configuración de longitud de línea (compatible con Black/Google style)
max-line-length = 120
