name: CI - DEV (Sintaxis)

# Se activa SOLO en la rama 'dev'
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Configurar Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Analizar sintaxis (Linting)
      run: |
        # Lee la configuración de .flake8 para saber qué ignorar
        flake8 . --count --show-source --statistics
